.text-area {
    -fx-text-fill: black;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-font-family: Calibri;
    -fx-font-size: 20px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-image: url(../background/back.png);
    -fx-background-size: 150% 100%;
}